body {
  font-style:normal;
  font-size:14px;
  line-height:21px;
  font-family:"PT Sans", Arial, sans-serif;
  text-transform:uppercase;
  color:#000;
  background:#f2f2f2;
  }
  
  h1,h2,h3,ul {
  list-style:none;
  margin:0;
  }
  
  h2 {
  font-weight:700;
  font-size:21px;
  }
  
  header,main,footer {
  width:1200px;
  margin:0 auto;
  }
  
  header,footer {
  text-align:center;
  position:relative;
  }
  
  .cover {
  box-shadow:0 0 30px 10px #dbdbdb;
  width:1200px;
  margin:0 auto;
  }
  
  .conteiner {
  background-color:#fff;
  }
  
  .main-navigation {
  display:flex;
  padding-left:6%;
  padding-right:6%;
  align-items:center;
  padding-top: 2%;
  padding-bottom: 2%;
  line-height: 60%; 
  }
  
  .main-navigation li {
  width:26%;
  }
  
  .main-navigation li:nth-child(2) {
  margin-right:9%;
  }
  
  .right {
  text-align:right;
  }
  
  .header-logo {
  width:138px;
  height:70px;
  display:flex;
  position:absolute;
  left:0;
  right:0;
  top:0;
  margin:auto;
  }
  
  .header-logo img {
  width:100%;
  height:auto;
  position:relative;
  z-index:10;
  }
  
  .main-navigation a {
  text-decoration:none;
  color:#000;
  font-weight:700;
  cursor:pointer;
  }
  
  .main-navigation a:active {
  color:#c1c1c1;
  }
  
  .main-navigation .current {
  color:#766357;
  }
  
  .main-navigation .current:hover {
  color:#604e43;
  }
  
  .main-navigation .current:active {
  color:#d6d0cc;
  }
  
  .welcome {
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  height:508px;
  background:#f2f2f2 url(../img/background-photo.jpg) no-repeat;
  background-position:center -83px;
  }
  
  .welcome::after {
  content:"";
  position:absolute;
  left:0;
  bottom:-2px;
  width:1200px;
  height:59px;
  background:url(../img/intro-mask.svg) no-repeat;
  }
  
  .resonse-header {
  padding-top:57px;
  padding-bottom:33px;
  line-height:29px;
  }
  
  .resonse-header h1 {
  font-size:21px;
  }
  
  .resonse-header p {
  margin-top:25px;
  color:#333;
  }
  
  .index-columns img {
  vertical-align:middle;
  }
  
  .resonse-text {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:400px;
  box-sizing:border-box;
  padding:37px 60px 50px;
  }
  
  .index-columns .resonse-text {
  background-color:#81b3d2;
  color:#fff;
  }
  
  .resonse-text h2 {
  width:151px;
  margin-bottom:21px;
  }
  
  .resonse-text .number {
  margin-bottom:21px;
  }
  
  .resonse-text p {
  width:303px;
  box-sizing:border-box;
  margin:0;
  }
  
  .resonse-details {
  display:flex;
  box-sizing:border-box;
  margin:auto;
  }
  
  ul.resonse-details li {
  width:34.3%;
  box-sizing:border-box;
  position:relative;
  padding:161px 55px 82px 56px;
  }
  
  .item-icon {
  top:60px;
  left:0px;
  right:0;
  margin:auto;
  }
  
  ul .item-icon {
  position:absolute;
  width:77px;
  height:72px;
  }
  
  .food .item-icon {
  width:74px;
  height:70px;
  top:61px;
  left:1px;
  }
  
  .gifts .item-icon {
  width:64px;
  height:76px;
  top:56px;
  left:1px;
  }
  
  ul h3 {
  margin-bottom:24px;
  font-size:21px;
  }
  
  .resonse-details .text-resonse {
  width:285px;
  margin:0;
  color: #333333;
  }
  
  .columns .title {
  align-self:center;
  margin-bottom:21px;
  }
  
  .columns .resonse-text {
  background-color:#eee;
  line-height:22px;
  padding-top: 47px;
  padding-bottom: 59px;
  }
  
  .columns p {
  font-weight:400;
  font-size:14px;
  color:#333;
  margin-bottom:21px;
  width:261px;
  }
  
  .columns .text {
  margin-bottom:0;
  line-height:21px;
  }
  
  .resonse-send {
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
  padding-top:57px;
  }
  
  .resonse-send h1 {
  font-size:30px;
  line-height:22px;
  }
  
  .text-resonse-send {
  width:448px;
  margin-top:31px;
  margin-bottom:47px;
  color:#333;
  line-height:24px;
  }
  
  .btn-srch-window {
  width:568px;
  color:#fff;
  font-size:21px;
  line-height:26px;
  font-weight:700;
  background:#766357;
  text-transform:uppercase;
  border:none;
  margin:0;
  padding:30px 0;
  }
  
  .search-form-container {
  position:relative;
  width:568px;
  margin:0 auto;
  }
  
  .search-form {
  position:absolute;
  top:86px;
  left:0;
  width:568px;
  box-sizing:border-box;
  text-align:center;
  font-weight:700;
  background:#fff;
  z-index:1;
  line-height:28px;
  margin:0 auto;
  padding:56px 55px;
  }
  
  .search-form .form-line {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  box-sizing:border-box;
  margin:0;
  padding:0;
  }
  
  .search-form .form-line:last-child {
  margin-bottom:53px;
  }
  
  .search-form label {
  width:111px;
  padding-top:5px;
  text-align:left;
  }

  .search-form .field {
  height:37px;
  border:none;
  outline:none;
  box-sizing:border-box;
  text-transform:uppercase;
  background:#f2f2f2;
  padding:4px 15px 8px;
  }
  
  .search-form input {
  width:346px;
  margin-bottom:29px;
  color:#000;
  font-weight:700;
  position:relative;
  }
  
  .kid label {
  text-align:center;
  width:88px;
  }
  
  .icon-calendar {
  cursor:pointer;
  display:block;
  position:absolute;
  left: 483px;
  padding: 0;
  top: 63px;
  }
  
  .icon-calendar-check-out {
  cursor:pointer;
  display:block;
  position:absolute;
  left:483px;
  top: 130px;
  padding: 0;
  }
  
  .half-width .btn {
  width:38px;
  height:38px;
  background-color:#f2f2f2;
  background-position:center;
  background-repeat:no-repeat;
  font-size:0;
  border:none;
  position:relative;
  }
  
  .plus-btn i::after {
  content:"";
  display:block;
  position:absolute;
  width:3px;
  height:11px;
  background-color:#cacaca;
  top:4px;
  left:1px;
  right:0;
  bottom:0;
  margin:auto;
  }
  
  .unit-container button::-moz-focus-inner {
  border:0;
  }
  
  .search-form .unit {
  width:38px;
  height:38px;
  justify-content:space-evenly;
  margin:0;
  padding:0;
  }
  
  .search-form .field:hover {
  background:#ebebeb;
  }
  
  .search-form .field:focus {
  background:#fff;
  outline:2px solid #e5e5e5;
  }
  
  .search-form .search-btn {
  display:block;
  width:459px;
  box-sizing:border-box;
  font-size:21px;
  line-height:19px;
  text-transform:uppercase;
  color:#fff;
  background:#81b3d2;
  border:none;
  outline:none;
  margin:0 auto;
  padding:21px 10px 20px;
  font-weight: bold;
  }
  
  .search-form .search-btn:active {
  background:#5496bd;
  }
  
  .map {
  height:473px;
  width:100%;
  position:relative;
  margin:0;
  padding:0;
  }
  
  .filters-hotels {
  background:#4b769e url(../img/filter-background.jpg) no-repeat 80% 50%;
  }
  
  .filter-menu {
  padding-top:27px;
  padding-left:72px;
  padding-right:72px;
  display:flex;
  color:#fff;
  }
  
  .filter-menu ul {
  padding:0;
  }
  
  .filters-hotels input[type="checkbox"] {
  display:none;
  }
  
  .filters-hotels h2 {
  margin-bottom:24px;
  font-size:16px;
  }
  
  .check:not(:last-child) {
  margin-bottom:22px;
  }
  
  .check label {
  position:relative;
  margin-left:39px;
  cursor:pointer;
  display:flex;
  line-height:24px;
  }
  
  .check label::before {
  content:"";
  background-image:url(../img/checkbox-off.svg);
  position:absolute;
  display:block;
  width:23px;
  height:23px;
  left:-40px;
  top:0;
  }
  
  .check input:checked + label::before {
  content:"";
  background-image:url(../img/checkbox-on.svg);
  width:26px;
  height:23px;
  left:-40px;
  }
  
  .check input:disabled + label {
  color:#6a6a6a;
  cursor:inherit;
  }
  
  .clearfix {
  margin-left:auto;
  text-align:left;
  }
  
  .filter-range {
  width:320px;
  }
  
  .filter-range h2 {
  margin-left:3px;
  margin-bottom:10px;
  }
  
  .one-fourth {
  margin-right:120px;
  }
  
  .price-controls {
  position:relative;
  height:32px;
  border:2px solid #fff;
  border-radius:2px;
  margin-left:2px;
  margin-bottom:20px;
  }
  
  .price-controls label {
  display:inline-block;
  width:73px;
  margin-left:65px;
  line-height:32px;
  vertical-align:top;
  cursor:pointer;
  }
  
  .price-controls input {
  width:40px;
  border:none;
  background:none;
  outline:none;
  color:#fff;
  }
  
  .price-controls::after {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  width:2px;
  height:22px;
  background:#fff;
  transform:translate(-50%,-50%);
  }
  
  .range-controls {
  position:relative;
  margin-left:2px;
  margin-bottom:32px;
  }
  
  .range-controls .scale {
  height:2px;
  background:rgba(255,255,255,0.3);
  }
  
  .range-controls .bar {
  height:2px;
  width:80%;
  background:#fff;
  }
  
  .range-controls .range-toggle {
  position:absolute;
  top:-10px;
  cursor:pointer;
  }
  
  .range-controls .range-toggle-min {
  left:-5px;
  }
  
  .range-controls .range-toggle-max {
  left:247px;
  }
  
  .range-toggle svg:hover {
  width: 22px;
  height: 24px;
  }
  .filter-range .show-btn {
  display:block;
  line-height:20px;
  text-transform:uppercase;
  background:none;
  border:2px solid #fff;
  border-radius:2px;
  outline:none;
  color:#fff;
  margin:32px 87px 33px;
  padding:6px 34px;
  }
  
  .filter-range .show-btn:hover {
  color:#000;
  background:#fff;
  }
  
  .results {
  box-sizing:border-box;
  display:flex;
  align-items:center;
  font-size:12px;
  padding:32px 72px;
  }
  
  .match {
  margin-right:47px;
  }
  
  .match h2 {
  line-height:18px;
  }
  
  .sorting-filters .titls {
  margin:0 40px 0 0;
  }
  
  .sorting-filters a {
  text-decoration:none;
  color:rgba(0,0,0,0.3);
  border-bottom:1px dotted #81b3d2;
  margin-right:33px;
  }
  
  .sorting-filters a:hover:not([class="current"]) {
  color:#81b3d2;
  border-bottom:1px dotted #81b3d2;
  }
  
  .sorting-filters a:active:not([class="current"]) {
  color:#000;
  border:none;
  }
  
  .sorting-filters .current {
  color:#81b3d2;
  border:none;
  cursor:text;
  }
  
  .sorting-btns {
  display:flex;
  margin-left:auto;
  box-sizing:border-box;
  position:relative;
  }
  
  .icon-up-dir {
  position:absolute;
  width:11px;
  height:10px;
  left:-35px;
  top:-8px;
  }
  
  .color-icon{
  fill:#cacaca;
  }

  .down{
  fill:#81b3d2;
  }

  .color-icon:hover{
  fill:#000;
  }

  .color-icon:active{
  fill:#81b3d2;
  }
  
  .icon-down-dir {
  position:absolute;
  width:11px;
  height:10px;
  left:-12px;
  top:-9px;
  }
  
  .resalts-hotels {
  display:flex;
  flex-direction:column;
  }
  
  ul {
  margin:0;
  padding:0;
  }
  
  .layout-row {
  display:flex;
  border-bottom:1px solid #e5e5e5;
  padding:30px 72px;
  }
  
  .layout-row:first-child {
  border-top:1px solid #e5e5e5;
  }
  
  .photo {
  margin-right:30px;
  }
  
  .layout-row h2 {
  padding-left:0;
  text-align:left;
  margin-bottom:-1px;
  line-height:15px;
  }
  
  .hotel-title a {
  text-decoration:none;
  color:#000;
  }
  
  .hotel-title a:active {
  color:rgba(0,0,0,0.3);
  }
  
  .details-container {
  display:flex;
  width:258px;
  text-align:left;
  }
  
  .details {
  display:flex;
  flex-direction:column;
  width:110px;
  color:#333;
  margin-right:6px;
  }
  
  .details .text {
  margin-bottom:14px;
  }
  
  .hotels .btn {
  display:inline-block;
  text-decoration:none;
  border-style:none;
  }
  
  .hotels .more-btn {
  color:#fff;
  background-color:#81b3d2;
  padding:3px 17px;
  font-weight: bold;
  }
  
  .hotels .more-btn:active {
  color:rgba(255,255,255,0.3);
  background:#5496bd;
  }
  
  .hotels .reserve {
  display:inline-block;
  vertical-align:top;
  }
  
  .hotels .reserve-btn {
  color:#fff;
  background-color:#766357;
  width:108px;
  text-transform:uppercase;
  padding:3px 17px;
  font-weight: bold;
  }
  
  .hotels .reserve-btn:hover {
  background:#604e43;
  }
  
  .hotels .reserve-btn:active {
  color:rgba(255,255,255,0.3);
  background:#503e33;
  }
  
  .stars {
  display:flex;
  margin-left:auto;
  width:132px;
  flex-wrap:wrap;
  justify-content:flex-end;
  align-content:space-between;
  }
  
  .raiting {
  background-color:#f2f2f2;
  color:#666;
  margin:0;
  padding:5px 15px;
  }
  
  .stars span {
  width:18px;
  height:17px;
  margin-right:4px;
  }
  
  .main-footer {
  opacity:0.9;
  background-color:#fff;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-sizing:border-box;
  padding:27px 100px 27px 124px;
  }
  
  .main-footer a {
  text-decoration:none;
  }
  
  .contacts {
  color:#000;
  font-weight:700;
  font-size:21px;
  line-height:33px;
  text-align:left;
  width:230px;
  }
  
  .contacts .text {
  color:#000;
  text-decoration-line:none;
  }
  
  aside {
  display:flex;
  justify-content:space-between;
  width:150px;
  margin-right:228px;
  margin-left:176px;
  padding:0;
  }
  
  .soc-icon {
  width:46px;
  height:48px;
  background-color:#81b3d2;
  background-position:center;
  background-repeat:no-repeat;
  font-size:0;
  position:relative;
  }
  
  .soc-icon-tw {
  position:absolute;
  width:17px;
  height:15px;
  left:33%;
  top:35%;
  }
  
  .soc-icon-fc {
  position:absolute;
  width:12px;
  height:22px;
  left:36%;
  top:28%;
  }
  
  .soc-icon-yo {
  position:absolute;
  width:20px;
  height:16px;
  left:28%;
  top:34%;
  }
  
  .soc-icon:hover {
  background-color:#669ec0;
  }
  
  .soc-icon:active {
  background-color:#5496bd;
  }
  
  .academy {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:197px;
  position:relative;
  }
  
  .container-footer p {
  margin:0;
  }
  
  .academy a {
  width:115px;
  height:41px;
  left:81px;
  }
  
  .icon {
  fill:#231f20;
  }
  
  .icon:hover {
  fill:#81b3d2;
  }
  
  .icon:active {
  fill:#bdbbbc;
  }
  
  .left,.one-fourth {
  text-align:left;
  }
  
  .main-navigation a:hover,.hotel-title a:hover {
  color:#81b3d2;
  }
  
  .index-main,.unit-container input,label:last-child {
  text-align:center;
  }
  
  .index-columns,.columns,.unit-container,.sorting-filters {
  display:flex;
  }
  
  input[type="text"]::-webkit-input-placeholder,footer a:active, footer a {
  color:#000;
  }

  input[type="text"]::-moz-placeholder{
  color:#000;
  }

  input[type="text"]:-moz-placeholder{
  color:#000;
  }

  input[type="text"]:-ms-input-placeholder{
  color:#000;
  }

  a{
  color:#000;
  }

  .minus-btn i::before,.plus-btn i::before {
  content:"";
  display:block;
  position:absolute;
  width:11px;
  height:3px;
  background-color:#cacaca;
  top:5px;
  left:2px;
  right:0;
  bottom:0;
  margin:auto;
  }
  
  .minus-btn i:hover:before,.plus-btn i:hover:before,.plus-btn i:hover:after {
  background-color:#000;
  }
  
  .minus-btn i:active:before,.plus-btn i:active:before,.plus-btn i:active:after {
  background-color:#81b3d2;
  }
  
  .unit-container button:active,button:focus,.filter-range .show-btn:active {
  outline:none;
  }

  .form-line button{
  border:0;
  background: transparent;
  }

  .form-line button{
    fill: #cacaca;
  }
  
  .form-line button:hover{
    fill: #000;
  }

  .form-line button:active{
    fill: #81b3d2;
  }

  .range-controls button{
    border:0;
    outline:none;
    background: transparent;
  }
  
  .search-form .search-btn:hover,.hotels .more-btn:hover {
  background:#669ec0;
  }
  
  .search-form .search-btn:active span,.soc-icon:active span {
  opacity:0.3;
  }
